*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header{
  background-image: url(wallpaperflare.com_wallpaper.jpg);
  /*  background-image: linear-gradient(to top, hsl(194, 100%, 90%) 0%, #79a8ff 100%);*/
    height: 100vh;
    object-fit: cover;
    filter: blur(2px);
    -webkit-filter: blur(0px);
}

body{
  overflow: hidden;
}

ul{
    margin-left: 50px;
    padding: 5px 50px;
}
ul li{
    margin-top: 15px;
}
ul li a{
    text-decoration: none;
    border-radius: 10px;
    margin: 5px 20px;
    transition: ease-in;
}
ul li a:hover{
  color: black;
  background:linear-gradient(to top, hsl(281, 71%, 60%) 0%, #ed93ff  100%);
  transition-delay: 0.7s ease;
}
ul li.active a{
  background:linear-gradient(to top, hsl(281, 57%, 58%) 0%, #ed93ff 100%);
  transition-delay: 0.7s ease;
}

footer{
  overflow: hidden;
  position: fixed; /* Spet the navbar to fixed position */
  bottom:0%; /* Position the navbar at the top of the page */
  width: 100%;
  opacity: 0.8;
  background-image: linear-gradient(to bottom, hsl(0, 0%, 53%) 0%, #000000 100%);
}

.container-fluid{
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  background:linear-gradient(to bottom, hsl(0, 0%, 0%) 0%, #4d4d4d 100%);
  opacity: 0.8;
}

.logo img{
    width: 70px;
    height: auto;
    margin: 4px;
    border-radius: 80%;
}

  .show-btn, .show2-btn{
    background:linear-gradient(to top, hsl(0, 0%, 100%) 0%, #e0e0e0 100%);
    padding: 10px 20px;
    width: 500px;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    border-radius: 15px;
    color: #333;
    cursor: pointer;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.637);
  }
  .show-btn:hover,.show2-btn:hover{
    background:linear-gradient(to bottom, hsl(0, 0%, 100%) 0%, #e0e0e0 100%);
    color: #3498db;
  }
  .show2-btn{
    position: absolute;
    top: 50%;
    left: 85%;
    transform: translate(-60%, -30%);
  }
  .show-btn{
    position: absolute;
    top: 40%;
    left: 85%;
    transform: translate(-60%, -30%);
  }
  .cont{
    position:absolute;
    top: 45%;
    left: 25%;
    transform: translate(-50%, -50%);
  }
  
  input[type="checkbox"]{
    display: none;
  }
  .cont{
    display: none;
    width: 600px;
    border-radius: 15px;
    box-shadow: 10px 10px 20px hsl(259, 100%, 67%);
    padding: 2%;
    background-image: linear-gradient(to top left, hsl(215, 100%, 82%) 0%, #bba0ff 90%);
    opacity: 0.85;
  }

  .cont2{
    position:absolute;
    top: 45%;
    left: 25%;
    transform: translate(-50%, -50%);
  }

  .cont2{
    display: none;
    width: 600px;
    height:500px;
    border-radius: 15px;
    box-shadow: 10px 10px 20px hsl(259, 100%, 67%);
    padding: 2%;
    background-image: linear-gradient(to top left, hsl(215, 100%, 82%) 0%, #bba0ff 90%);
    opacity: 0.85;
  }




  #show:checked ~ .cont{
    display:inline;
  }
  
  #show2:checked ~ .cont2{
    display:inline;
  }



  .cont .close-btn{
    position: absolute;
    right: 20px;
    top: 15px;
    font-size: 18px;
    cursor: pointer;
  }
  .cont .close-btn:hover{
    color: #19a3ff;
  }
  .cont .text{
    font-size: 35px;
    font-weight: 600;
    text-align: center;
  }
  .cont form{
    margin-top: -20px;
  }
  .cont form .data{
    height: 45px;
    width: 100%;
    margin: 40px 0;
  }

  .cont2 .close-btn{
    position: absolute;
    right: 20px;
    top: 15px;
    font-size: 18px;
    cursor: pointer;
  }
  .cont2 .close-btn:hover{
    color: #19a3ff;
  }
  .cont2 .text{
    font-size: 35px;
    font-weight: 600;
    text-align: center;
  }
  .cont2 form{
    margin-top: -20px;
  }
  .cont2 form .data{
    height: 45px;
    width: 100%;
    margin: 40px 0;
  }

  canvas {
  
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
  }



  form .data label{
    font-size: 18px;
    text-shadow: #333;
  }
  form .data input{
    height: 100%;
    width: 100%;
    padding-left: 10px;
    border-radius: 13px;
    font-size: 17px;
    border: 1px solid silver;
  }
  form .data input:focus{
    border-color: #3498db;
    border-bottom-width: 2px;
  }
  form .btn{
    margin: 30px 0;
    height: 45px;
    width: 100%;
    position: relative;
    overflow: hidden;
  }
  form .btn .inner{
    height: 100%;
    width: 300%;
    position: absolute;
    left: -100%;
    z-index: -1;
    background: -webkit-linear-gradient(right, #56d8e4, #9f01ea, #56d8e4, #9f01ea);
    transition: all 0.4s;
  }
  form .btn:hover .inner{
    left: 0;
  }
  form .btn button{
    height: 100%;
    width: 100%;
    background: none;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
  }
  form .signup-link{
    text-align: center;
  }
  form .signup-link a{
    color: #3498db;
    text-decoration: none;
  }
  form .signup-link a:hover{
    text-decoration: underline;
  }
