*{
    margin:0;
    padding: 2rem;
    box-sizing: border-box;
    font-family: Apple Chancery, cursive;

}
html{
    font-size: 62.5%;
    
        height: 200px;
        background-color: #cccccc;
        background-image : repeating-linear-gradient(lightblue 50% ,lightblue 50%);
      
     
}
header{
  background-image: linear-gradient(to bottom, hsl(0, 0%, 100%) 0%, #79a8ff 100%);
  height: 80vh;
}


ul{
    list-style: none;
    text-decoration:none; 
    margin:3 rem;
    display:inline-block; 
    
    color:black;

}
a{
    color:black;
    text-decoration-line:none;
}
footer {
    position: absolute;
    bottom: -4.8rem;
    width: 94.1%;
    background-color:#56d8e4;
    color:black;
    background:-webkit-linear-gradient(right, #56d8e4,	#B0C4DE , #56d8e4,#56d);
}
    .btn {

    color:black;
  }
  

  .show-btn, .show-btn2{
    background:black;
    padding: 10px 20px;
    width: 500px;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    border-radius: 15px;
    color: #3498db;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  }
  
  
  .show-btn{
    position: absolute;
    top: 50%;
    left: 85%;
    transform: translate(-60%, -30%);
  }
  .show-btn2{
    position: absolute;
    top: 40%;
    left: 85%;
    transform: translate(-60%, -30%);
  }
  .cont{
    position:absolute;
    top: 45%;
    left: 25%;
    transform: translate(-50%, -50%);
  }
  
  input[type="checkbox"]{
    display: none;
  }
  #show:checked ~ .cont{
    display:inline;
  }
  .cont .close-btn{
    position: absolute;
    right: 20px;
    top: 15px;
    font-size: 18px;
    cursor: pointer;
  }
  .cont .close-btn:hover{
    color: #19a3ff;
  }
  .cont .text{
    font-size: 35px;
    font-weight: 600;
    text-align: center;
  }
  .cont form{
    margin-top: -20px;
  }
  .cont form .data{
    height: 45px;
    width: 100%;
    margin: 30px 0;
  }
  form .data label{
    font-size: 18px;
    text-shadow: #333;
  }
  form .data input{
    height: 100%;
    width: 100%;
    padding-left: 10px;
    border-radius: 13px;
    font-size: 17px;
    border: 1px solid black;
  }
  form .data input:focus{
    border-color: #3498db;
    border-bottom-width: 2px;
  }
  form .btn{
    margin: 30px 0;
    height: 45px;
    width: 100%;
    position: relative;
    overflow: hidden;
  }
  
  form .btn:hover .inner{
    left: 0;
  }
  form .btn button{
    height: 100%;
    width: 100%;
    background: none;
    border: none;
    color:black;
    font-size: 20x;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
  }
  /* The navbar container */
.topnav {
  overflow: hidden;
  background-color:-webkit-linear-gradient(right, #56d8e4,	#B0C4DE , #56d8e4,#56d);
}

/* Navbar links */
.topnav a {
  float: right;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  cursor:pointer;
}
a.nav-link:hover, a.nav-link:active {
  font-size: 150%;
}











  
