<!DOCTYPE html>
<html>
<head>
    <title>ABOUT</title>
</head>

    
<body>
    <h1> OUR AIM</h1>
    <P> Due to the privacy concerns , we are aiming to provide a user
        privacy secure texting application which has a very easy to use interface.
        Our project BabbleZ is aimed for Generation Z (21st Generation).
        Also, we are focusing on PC application, because most of the Smart Phones in
        the market are ruled by Google Android Operating System, which is at the top in
        the list of user data collectors. Therefore, we believe in complete privacy of users
        so, PC platforms are more suitable. </P>
        <h2>TECHNIQUE</h2>
        <p> We have used Python3 as programming language and agile model for
            development.</p>
            <h3> STRATEGY</h3>
            <p>Process for texting :
                1. Socket programming has been used for server and client interaction.
                2. Client can sign with a unique name and user id will be generated for the
                user name(unique) and this will not need any private information of user.
                3. Server socket will listen and handle the clients and client’s database.
                4. Multithreading is used to handle the clients. </p>

        <h4>FUTURE SCOPE</h4>
            <p>We used these methods to make our application more reliable.
                1. Socket programming has been used for server and client interaction.
                2. Client can sign up with a unique name and the user id will be generated for
                the user name(unique) and this will not need any private information of the user.
                3. Server socket will listen and handle the clients and client’s database.
                4. Multithreading is used to handle the clients.</p>
        <h5>CONCLUSION</h5>
        <p> It has been concluded that our PC chat app is a secure app and an
            efficient PC application that can provide its user a sense of relief that their
            information is safe and they can enjoy chatting with their peers without any
            privacy problem.
            With some more additional features, we believe that it can compete with big
            names like WhatsApp, signal, and telegram. </p>
</body>
</html>