<!DOCTYPE html>
<html>
<head>
    <title>SECURITY</title>
</head>
<body>
    <h1>TERMS AND SERVICES</h1>
    <P>End-to-end encryption is perhaps the most important security feature and data is
        encrypted both in transit and in storage, and only the communicating end users of a
        given chat can access shared messages and information. Even if a chat platform’s
        servers are breached, the data on them is encrypted and thus unreadable by
        unauthorized individuals, which also includes the platform provider itself. That level of encryption is an obvious security measure to implement if we view
        enterprise chat apps as what they truly are: digital meeting rooms filled with
        sensitive business information. After all, no company would allow competitors to eavesdrop on important internal
        meetings. But by not encrypting workplace chats, that’s exactly what they seem to
        be doing—allowing malicious actors the opportunity to steal intellectual property
        and other valuable information.</P>
        <h2>OBJECTIVES</h2>
        <p> 1.Build connection between server and client (Network programming)-

            A. Socket programming is a way of connecting two nodes on a
            network to communicate with each other. One socket(node) listens
            on a particular port at an IP, while other
            socket reaches out to the other to form a connection. Server forms
            the listener socket while client reaches out to the server. 
            
            B. Multithreading is a way of achieving multitasking. In
            multithreading, the concept of threads is used.
            
            2. Encryption and Integration check –
            Encryption in cryptography is a process by which a plain text or a piece of
            information is converted into cipher text or a text which can only be decoded
            by the receiver for whom the information was intended.
        </p>
</body>
</html>